@model IEnumerable<Product>
@{
    ViewBag.Title = "Get All";
    Layout = "_Layout";
}

@if (Model == null)
{
    <h2 class="text-center">Product list is empty</h2>
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {

            <div class="col-md-3">
                <div class="card">
                    <img src="@Url.Content(product.ImagePath)" class="card-img-top" alt="Image" width="500" height="330" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        @*<p class="card-text">@product.</p>*@
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: @product.Price</li>
                        <li class="list-group-item">Type: @product.ClotheType</li>
                    </ul>
                    <div class="card-body">
                        <a asp-action="GetProduct" asp-route-id="@product.Id" class="card-link">View</a>
                        <a asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id" class="card-link">Add</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <hr />
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="card-link">Delete</a>
                            <a class="card-link">Update</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
